/* icon */
.menu_wrap{
    position: fixed; z-index: 2;
    right: 100px; top: 100px;
    width: 5vw; height: 5vw;
}
.menu-icon {
    width: 5vw; height: 5vw;
    cursor: pointer;
}
.icon .line {
    display: block; position: absolute;
    right: 0;
    width: 100%;
    height: 0.6vw;
    background: #fff;
    transition: 0.4s ease all
}
.menu-icon .icon .line.line-1 {top: 0; width: 50%}
.menu-icon .icon .line.line-2 {top: 25%; width: 80%}
.menu-icon .icon .line.line-3 {top: 50%; width: 60%}

.menu-icon.on .icon .line {width: 100%}

.content-icon {
    position: fixed; z-index: 2;
    right: 100px; top: 100px;
    width: 5vw; height: 5vw; overflow: hidden;
    cursor: pointer;
}
.content-icon .icon .line-1 {
  transform: translateY(334%) translateX(0) rotate(45deg);
  -webkit-transform: translateY(334%) translateX(0) rotate(45deg);
  -moz-transform: translateY(334%) translateX(0) rotate(45deg);
}
.content-icon .icon .line-2 {
  opacity: 0;
}
.content-icon .icon .line-3 {
  transform: translateY(334%) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(334%) translateX(0) rotate(-45deg);
  -moz-transform: translateY(334%) translateX(0) rotate(-45deg);
}
.content {
    display: none;
    position: absolute; z-index: 15; box-sizing: border-box;
    top: 0%; left: 0; padding: 100px;
    width: 100%; height: 100%;
    background-color: rgb(107, 154, 180);
}
/* menu content > list */
.content .menu-list {
    position: relative;
    font-family: 'OPTIImprovNewWideNine'; font-size: 4.5vw;
}
.content .menu-list {}
.content .menu-list a {
    margin-right: 1vw; line-height: 2;
    transition: 0.4s all ease; opacity: 0.5;
}
.content .menu-list a:hover {
    opacity: 1; transition: 0.4s all ease;
}

.content .menu-list .router-link-exact-active {
    opacity: 1; transition: 0.4s all ease;
}
/* menu content > contect list */
.content .contact {
    position: absolute; box-sizing: border-box;
    display: flex; align-items: flex-end; justify-content: space-between;
    padding-left: inherit; padding-right: inherit; padding-bottom: inherit;
    bottom: 0; left: 0; right: 0;
    font-family: 'GothaProLig'; font-size: 1.5vw; line-height: 1.6
}
.content .contact .contact-list {}
/* menu content > sns list */
.content .contact .sns {display: flex; align-items: flex-end; justify-content: space-between; width: 160px;}
.content .contact .sns div {width: 60px; height: 60px; background-color: #fff;}
.content .contact .sns div img {width: 100%;}








.menu-component:after{content:''; display:block; position:absolute; bottom:0px; right:0px; z-index:10; width:100%; height:0%; background:#fff; transition: all 0.8s cubic-bezier(.4,.31,.19,1)}
.menu-component.open:after{height: 100%;}
.content.open {animation:detail_open_animate 1s forwards cubic-bezier(.66,0,.34,1); display: block;}
@keyframes detail_open_animate {
    0% {transform:translate(0,100%);}
    100% {transform:translate(0, 0%);}
}
.content.close {animation:detail_close_animate 1s forwards cubic-bezier(.66,0,.34,1); display: block;}
@keyframes detail_close_animate {
    0% {transform:translate(0, 0%);}
    100% {transform:translate(0, 100%);}
}

