#profile {
    position: relative;
    height: 100%; width: 100%;
    color: #fff;
    overflow: hidden;
}
#profile .container {
    position: absolute; top: 0;
    width: 100%; height: 100%;
    padding: 100px;
    box-sizing: border-box;
    overflow-x: scroll;
}
#profile .container .wrap {
    position: relative;
    width: 100%; height: auto;
    /* margin-top: 100px; */

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
#profile .container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
#profile .container .page-explain {
    width: 90%;
    display: flex;
}
/* #profile .container .page-explain:after{
    content:'';
    display:block;
    clear:both;
} */
#profile .container .page-explain .title{
    /* float: left; */
    margin-right: 10vw;
    font-family: 'OPTIImprovNewWideNine'; font-size: 4.5vw;
}
#profile .container .page-explain .sub-title{
    /* float: left; */
    font-family: 'Noto Sans KR', sans-serif; font-weight: 300; font-size: 1.3vw; line-height: 2.2;
    transition: 0.4s ease all;
}
#profile .container .page-explain .sub-title.on{
    opacity: 0;
}
#profile .container .page-content{
    clear: both;
    margin-top: 20vw;
}
#profile .container .page-content .accordion {
    margin-bottom: 6vw;
}
#profile .container .page-content .accordion .sub-title {
    font-family: 'OPTIImprovNewWideNine'; font-size: 2.5vw;
    height: 5vw;
}
#profile .container .page-content .accordion-item:after{
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 0.4vw;
    background: #fff;
    transition: .6s all ease;
}
#profile .container .page-content .accordion-item .datatable-report ul {
    list-style-type: disc;
    list-style-position: inside;
}
#profile .container .page-content .accordion-item .acc-title{
    position: relative;
    width: 100%;
    height: 7vw;
    text-align: left;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif; font-weight: 500; font-size: 1.3vw;color: #fff;
}
#profile .container .page-content .accordion-item .acc-title .title-area {
    margin-left: 1vw;
}
#profile .container .page-content .accordion-item .acc-title span{
    margin-left: 2vw;
    font-weight: 100; font-size: 1vw;
}
#profile .container .page-content .accordion-item .acc-title em{
    position: absolute;
    top: 50%;
    right: 1vw;
    width: 1.3vw;
    height: 0.3vw;
    background: #fff;
    transition: .4s all;
}
#profile .container .page-content .accordion-item .acc-title .ico01{
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}
#profile .container .page-content .accordion-item .acc-title.on .ico01{
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}
#profile .container .page-content .accordion-item .acc-panel{
    display: none;
    height: auto;
    background-color: #ffffff0d;
    font-family: 'Noto Sans KR', sans-serif; font-weight: 300; font-size: 1.3vw; line-height: 2.3; color: #fff;
}
#profile .container .page-content .accordion-item .acc-panel .datatable-report{
    padding: 3vw;
}
.page-explain .title.on, .page-explain .title.on:after {
    animation-iteration-count: 1;
    animation-duration: 800ms;
    animation-fill-mode: both;
}
.page-explain .title.on {
    position: relative;
    display: block;
    animation-name: reveal-text;
}
.page-explain .title.on:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    animation-name: revealer-text;
}
@keyframes reveal-text {
    from {clip-path: inset(0 100% 0 0);}
    to {clip-path: inset(0 0 0 0);}
}

@keyframes revealer-text {
    0%, 50% {transform-origin: 0 50%;}
    60%, 100% {transform-origin: 100% 50%;}
    60% {transform: scaleX(1);}
    100% {transform: scaleX(0);}
}